/* Coolors Exported Palette - coolors.co/0a1d33-dfdad4-f7fff7-493657-cc3f0c */

/* HSL */
$color1: hsla(212%, 67%, 12%, 1);
$color2: hsla(33%, 15%, 85%, 1);
$color3: hsla(120%, 100%, 98%, 1);
$color4: hsla(275%, 23%, 28%, 1);
$color5: hsla(16%, 89%, 42%, 1);

/* RGB */
$color1: rgba(10, 29, 51, 1);
$color2: rgba(223, 218, 212, 1);
$color3: rgba(247, 255, 247, 1);
$color4: rgba(73, 54, 87, 1);
$color5: rgba(204, 63, 12, 1);