
$color1: #3D3C47;
$color2: #35373B;
$color3: #4F5F69;
$color4: #b6f7c1;
$fuentetitulos: Ubuntu;
$fuentecuerpo: Anonymous Pro;


#app {
    a{
        color: white ;
        
    }
    a:hover{
        text-decoration-line: underline;
        text-decoration-color: $color4
    }
    h1,h2,h3,h4,h5,h6{
        font-family: $fuentecuerpo ;
        font-weight: bold
    }
    
    color: white ;
    text-align: center;
    background-color: $color2 ;
    font-family: Ubuntu;
    .menulink{
        color: black 
    }

  }


#navbar{
    background-color: $color1;
    font-family: $fuentecuerpo ;
    font-weight: bold;
    flex-wrap: nowrap;
    .navbar{
        width: 100%
    }

    #nav_collapse{
        justify-content: flex-end
    }
    .links-navbar{
        align-self: flex-end;
        display: flex;
        justify-content: flex-end
    }
}

#skills{
    h3{
        text-decoration: underline;
    }
    .progress{
        background: $color1
    }
    .progress-bar{
        background: lighten($color3, $amount: 25) 
    }
}

#proyecto{

    #card.proy-item{
        background-color: $color3
    }
    #card.proy-item:hover{
        transform: scale(1.01);
        background-color: lighten($color3, $amount: 4)  

    }
   

}


#footer{
    background-color: $color1;
    text-align: center;
    word-wrap: break-word;
    margin: 0 auto
}

.proy-container{
    width: 100%;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    padding: 2px 0 2px 0
}
.proy-item{
    
    width: 20%;
    word-wrap: break-word;
    border-radius: 5px;

}

.icon{
    margin: 0 10px;
    opacity: .5
       
}

.icon:hover{
    animation-name: opacidad;
    animation-duration: 0.2s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}


.imagennavlogo{
    width: 40px;
   height: 40px; 
}

.fade-enter-active, .fade-leave-active {
    transition: opacity 0.5s;


  }
  .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;

  }

@media screen and (max-width:375px){
    #proyecto{
        .proy-item{
            
            width: 100% !important
        }
    }
}
@media screen and (max-width:425px){
    #navbar{
        .nav{
            display:flex;
            align-content: center;
            justify-content: flex;
            flex-direction: column;
            justify-self: flex-end
        }

    }
    #skills{
        h3{
            text-align: center !important
        }
    }
}
@media screen and (max-width:768px){
    #proyecto{
        #card.proy-item{
            
            width: 40%
        }
    }

}

@keyframes opacidad{
    from{
        opacity: initial;
    }
    to{
        opacity: 1;
        transform: scale(1.1)
    }
}

